.app__header{
    padding: 5rem;
    background-color: var(--color-black);
    display: flex;
}

.app__header_info{
    align-items: center;
    justify-content: flex-start;
}

.app__wrapper_img{
    align-items: center;
    justify-content: flex-end;
}

.app__header-sh{
    color: var(--color-white);
}

.app__header-h1{
    font-family: var(--font-family-base);
    color: var(--color-golden); 
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 90px;
}

.app__wrapper_img img{
    width: 80%;
}