.app__navbar{
    width: 100%;
    color: whitesmoke;
    background-color: var(--color-black);
    padding: 1rem 2rem;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img{
    width: 150px;
}

.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none; 
}

.app__navbar-links li{
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover{
    color: wheat;
}

.app__navbar-login{
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.app__navbar-login a{
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.app__navbar-login a:hover{
    color: wheat;
    border-bottom: 1px solid red;
}

.app__navbar-login div{
    width: 1px;
    height: 30px;
    background-color: blue;
}
